@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
}

.wrapper {
    @apply flex flex-wrap gap-1 justify-between my-12
}